:root {
    --text: oklch(0.96 0.01 250);
    --text-muted: oklch(0.76 0.01 250);
    --bg: oklch(0.2103 0.0059 285.89);
    --bg-nav: oklch(0.3008 0.0342 291.44);
    --grid-lines: oklch(0.3008 0.0342 291.44);
    --shadow: oklch(0.12 0.0059 285.89);
    font-size: 16px;
}

.lightmode {
    --text: oklch(0.15 0.01 250);
    --text-muted: oklch(0.4 0.01 250);
    --bg: oklch(0.9431 0.0142 74.42);
    --bg-nav: oklch(0.8345 0.0568 255.9);
    --grid-lines: oklch(0.8345 0.0568 255.9 / 0.5);
    --shadow: oklch(0.12 0.006 285.89 / 0.5);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

@font-face {
    font-family: "Inter" ;
    src: url("/fonts/Inter_18pt-Regular.woff2") format("woff2"), url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text);
    background-color: var(--bg);
    background-size: 60px 60px;
    background-image: linear-gradient(to right, var(--grid-lines) 0.25px, transparent 1px), linear-gradient(to bottom, var(--grid-lines) 0.25px, transparent 1px);
    background-attachment: fixed;
}

a {
    color: var(--text);
    text-decoration: none;
}

hr {
    border: none;             
    height: 3px;               
    background-color: var(--text);
    width: 100%;    
    justify-self: center;
    max-width: 100vw;     
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: fixed;
    padding: 0 2rem;
    height: 4rem;
    width: 100%;
    background-color: var(--bg-nav);
    z-index: 1000;
    box-shadow: 0 2px 8px var(--shadow);
}

.nav-left {
    display: flex;
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-middle {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    color: var(--text);
    font-size: 1rem;
    font-weight: 600;
}

.nav-middle a:hover {
    color: var(--text-muted);
    transition: color 0.25s ease-in-out;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--text);
}

#theme-switch {
    padding: 0;
    border: 0;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#theme-switch svg {
    fill: var(--text);
}

#theme-switch:hover svg {
    fill: var(--text-muted);
    transition: color 0.25s ease-in-out;
}

#theme-switch svg:last-child {
    display: none;
}

.lightmode #theme-switch svg:first-child {
    display: none;
}

.lightmode #theme-switch svg:last-child {
    display: block;
}

section {
    min-height: 80v;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
    gap: 2rem;
    min-height: 100vh;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    text-align: left; 
}

.bio {
    line-height: 1.5;
    font-size: 1rem;
}

.links {
    display: flex;
    gap: 1rem;
}

.links a:hover i {
    color: var(--text-muted);
    transition: color 0.25s ease-in-out;
}

.headshot {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    object-fit: cover;
}

#experience {
    padding: 3rem 2rem;
    background-color: var(--bg);
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--text);
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    background-color: var(--text);
}

.timeline-object {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 2rem;
    align-items: start;
}

.timeline-date {
    grid-column: 1;
    text-align: right;
    font-weight: 600;
    color: var(--text-muted);
}

.timeline-content {
    grid-column: 3;
    justify-self: start;
    width: 100%;
    background: var(--bg-light);
    border-radius: 16px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 16px;
}

.timeline-content-text {
    align-content: center;
}

.timeline-content-text p {
    color: var(--text-muted);
}

#projects {
    padding: 3rem 2rem;
}

.projects-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    place-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    gap: 2rem;
}

.project-object {
    text-align: center;
}

footer {
    min-height: 4rem;
    color: var(--text-muted);
    background-color: var(--bg);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
